/*
Name: post-galeria;
Description: Hoja de estilos que define el estilo básico de una galeria para usarla en algun articulo publicado en la página web de CORTV;
Author: CORTV;
*/

#galeria-thumb{
	list-style: none;
	margin: 0;
	padding: 0;
}
#galeria-thumb li{
	display: inline-block;
	list-style: none;
	max-height: 80px;
	max-width: 15%;
	overflow: hidden;
	vertical-align: bottom;
}

#galeria-thumb img{
	-webkit-transition: ease all 0.6s;
	-moz-transition: ease all 0.6s;
	-o-transition: ease all 0.6s;
	-ms-transition: ease all 0.6s;
	transition: ease all 0.6s;
}
#galeria-thumb li:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
